@import "macchiato.css";

/**********************
*    General styles   *
***********************/

window#waybar {
    font-family: "Maple Mono NF CN";
    font-size: 14px;
    font-weight: bold;
}

window#waybar > * {
    margin: 0px 6px;
}

#workspaces,
#scratchpad,
#clock,
#battery,
#cpu,
#memory,
#idle_inhibitor,
#temperature,
#backlight,
#network,
#pulseaudio,
#mode,
#tray,
#keyboard-state {
    /* background-color: shade(#24273a, 1); */
    padding: 0px 6px;
}

/*********************
*    Module styles   *
*********************/

#custom-fake-power-button {
    color: @lavender;
    margin: 5px 10px 0px;
}

#custom-notification {
    font-size: 15px; 
    margin: 1px 10px 0px 4px;
}

#workspaces,
#scratchpad {
    color: @lavender;
    border-radius: 12px;
    background-color: shade(#24273a, 1);
    margin-right: 4px;
}

#workspaces button {
    font-size: 18px;
    color: @rosewater;
    min-width: 20px;
    padding: 0px 1px;
}

#workspaces button:hover {
    color: @mauve;
}

#workspaces button.focused {
    color: @peach;
}

#workspaces button.empty {
    color: @surface2;
}

#scratchpad {
    padding: 0px 8px;
    margin-top: 7px;
    margin-bottom: 7px;
}

#window {
    color: @text;
    border-style: hidden;
    margin: 0px 10px;
}

/* sway/mode */
#mode {
    color: @yellow;
    border-radius: 10px;
    margin: 8px 6px 8px 0px;

    animation-name: mode-blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
    color: @sky;
    border-radius: 10px;
}

#backlight {
    color: @yellow;
    border-radius: 10px 0 0 10px;
}

#battery {
    color: @rosewater;
    border-radius: 0 10px 10px 0;
}

#battery.charging {
    color: @sapphire;
}

#battery.critical:not(.charging) {
    color: @red;
    animation-name: battery-blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color: @sky;
}

#memory {
    color: @sky;
}

#network.disabled {
    color: @red;
}

#network {
    color: @green;
    border-radius: 10px;
}

#network.disconnected {
    color: @red;
}

#pulseaudio {
    color: @flamingo;
}

#pulseaudio.muted {
    color: @surface1;
}

#idle_inhibitor {
    background-color: @yellow;
    color: @base;
    margin: 0 5px;
}

#tray {
    border-radius: 10px;
}

#keyboard-state {
    color: @surface1;
    border-radius: 10px;
    font-size: 13px;
}

#keyboard-state label:not(:first-child) {
    margin-left: 6px;
}

#keyboard-state label.locked {
    color: @peach;
}

@keyframes mode-blink {
    to {
	background-color: @surface1;
    }
}

@keyframes battery-blink {
    to {
        color: @red;
    }
}
